h1{
    color:yellow;
}
a{
margin:10px 10px;
 }
 /* h2{
     height:86vh;
 } */

 button{
     cursor:pointer;
     border: 1px solid #888888;
     background: #888888;
     color:white;
     padding:8px;
 }

 input{
     border: 1px solid #cccccc;
     padding:8px;
 }

 body{
     min-height:100vh;
     display:flex;
     flex-direction:column;
 }
 footer{
    margin-top: auto;
}
img{
    width:15%;
}